body {
    background-color: white;
    color: black;
}
nav {
    background-color:  #a8d0e6;
    font-size: 1.25em;
}

nav a {
    padding: 0 .5em;
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: black;
    opacity: .75;
}

.navbar {
    background-color: #a8d0e6;
}

.card {
}

.card-header{
}

.card-body {
}

.register-card {
    top: 4em;
}

.login-card {
    top: 4em;
}

.profile-password {
    background-color: black;
    width: min-content;
}

.profile-password:hover {
    background-color: white;
}